annotated-types
anyio
Authlib
blinker
certifi
cffi
click
colorama
cryptography
distro
Flask
Flask-Dance
Flask-Limiter
Flask-Mail
Flask-WTF
greenlet
h11
httpcore
httpx
idna
itsdangerous
Jinja2
jiter
MarkupSafe
mysql-connector-python
numpy
opencage
openai
opencv-python
pycparser
pydantic
pydantic_core
python-dotenv
pytz
sniffio
SQLAlchemy
tqdm
typing-inspection
typing_extensions
Werkzeug
WTForms
Pillow