<!DOCTYPE html>
<html lang="en">
<head>
    </head>
<body>
    {% include 'includes/navbar.html' %}
    <main>
        <h2>Update Event</h2>
        <form method="POST" enctype="multipart/form-data">
            <div>
                <label for="event_title">Title:</label>
                <input type="text" name="event_title" value="{{ event.event_title }}" required>
            </div>
            <div>
                <label for="description">Description:</label>
                <textarea name="description" required>{{ event.EventDescription }}</textarea>
            </div>
            <div>
                <label for="date">Date:</label>
                <input type="date" name="date" value="{{ event.Date }}" required>
            </div>
            <button type="submit">Update Event</button>
        </form>
    </main>
</body>
</html>